<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body>
  <section class="login">
    <div class="login_box">
      <div class="left">
        <div class="contact">
          <form [formGroup]="authForm" (ngSubmit)="onSubmit($event)">
              <img src="{{img}}" alt="Logo" class="logoimg">
            <h3 class="welcome">Welcome</h3>
            <input type="text" formControlName="username" placeholder="USERNAME" style="width:310px">
            <input type="text" [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="PASSWORD" style="width:310px">
            <!-- <button class="submit">LOG IN</button> -->
            <p *ngIf="this.error" class="paragraph">*{{this.error}}*</p>
            <button class="submit" [disabled]="loading">
              <span *ngIf="!loading">LOG IN</span>
              <span *ngIf="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Logging in...
              </span>
            </button>
            <div class="flex-sb-m w-full  p-b-20" >
              <div style="justify-content: center;">
                <span>Don't have an account? <a routerLink="/authentication/signup">
                    Sign Up
                  </a></span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="right">
      </div>
    </div>
  </section>
</body>
