.logoImg {
  width: 48px;
  // width: 100%;
  // height: 100%;
}
.specialLogoImg {
  width: 150px;
  // width:64px;
}
.rto_name{
  padding-right: 240px;
  padding-top: 20px;
}
.demo_name{
  padding-right: 380px;
  padding-top: 20px;
}
